<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>BOOKING HOTEL - ABOUT</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content name="keywords">
        <meta content name="description">

        <%- include('shares/links'); %>
    </head>

    <body>
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary"
                style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

        <!-- Navbar & Hero Start -->
        <%- include('shares/navbar'); %>
         <div class="container-fluid bg-primary py-5 mb-5 hero-header">
            <div class="container py-5">
                <div class="row justify-content-center py-5">
                    <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                        <h1
                            class="display-3 text-white animated slideInDown">
                            Services</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item">
                                    <a href="/">Home</a></li>
                                <li class="breadcrumb-item text-white active" aria-current="page">
                                    Services</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->

        <!-- Services -->
        <%- include('shares/services'); %>

        <!-- Testimonial -->
        <%- include('shares/testimonial'); %>

        <!-- Footer -->
        <%- include('shares/footer'); %>

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top rounded-3"><i
                class="bi bi-arrow-up"></i></a>
    </body>

</html>